    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<div class="top-main">

<button id="size">サイズ表示</button>


<from>
  <div class="multiple">
      <%= form_for @prototype do |f| %>
		      <%= f.fields_for :thumbnails do |thumbnail| %>
          <label id="submit">
		        <li class="btn" style="display:inline">画像選択&hellip;<%= thumbnail.file_field :image, id: "submit", style: "display:none;"%></li>
          </label>
      <% end %>
    <%= hidden_field :data, :image1 , :value => "" , class: 'data' %>
	    <%= f.submit  "ダウンロード画面へ", id: "submit" %>
    <% end %>
  </div>

  X:<input type="number" name="X-size" value="1280" />
  Y:<input type="number" name="Y-size" value="1000" />

  <div class="radio">
    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="1">:test1</label>
    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="2">:test2</label>
    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="3">:test3</label>
    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="4">:test4</label>
    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="4">:フリー</label>
  </div>
  <!--画像１
  位置X:<input type="number" name="X-position-1" value="0" />
  位置Y:<input type="number" name="Y-position-1" value="0" />
  横幅:<input type="number" name="X-size-1" value="320" />
  縦幅:<input type="number" name="Y-size-1" value="320" />-->

  <!---<div class="form-inline">
    <label class="checkbox-inline"><input type="radio" name="radio" value="1" id="Cork" checked>パターン1</label>
    <label class="checkbox-inline"><input type="radio" name="radio" value="2" id="black" >パターン2</label>
    <label class="checkbox-inline"><input type="radio" name="radio" value="3" id="side" >画像を選択してください</label>
  </div>--->

  <!---<div id="jquery-ui-draggable1" class="ui-widget-content">
      <p>ドラッグして<br />移動できる<br />ボックス。</p>
  </div>

  <div id="jquery-ui-resizable" class="ui-widget-content">
    <h3 class="ui-widget-header">Resizable</h3>
    <p>このボックスは、サイズを変更できる。</p>
</div>

<dl id="images">
    <dt id="dt1"><img src="neko2.jpg" alt="猫0" width="200" height="200"></dt>
    <dd id="dd1"><p>＜　ごはんまだかな？</p></dd>
    <dt id="dt2"><img src="neko1.jpg" alt="猫1" width="200" height="200"></dt>
    <dd id="dd2"><p>少しの辛抱にゃ　＞</p></dd>
</dl>--->

<div class="preview">
    <div class="material material_1"></div>
    <div class="material material_2"></div>
    <div class="material material_3"></div>
    <div class="material material_4"></div>
</div>
  </form>

</div>
