    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


<div class="new-main">
  <h1>画像を選択してください</h1>


<from>

  <div class="multiple">
      <%= form_for @prototype do |f| %>
        <% i=0 %>
		      <%= f.fields_for :thumbnails do |thumbnail| %>
            <% i+=1 %>
            <% if i <= 4 %>

		        <li class="btn"><%= thumbnail.file_field :image, id: "submit" %></li>

          <% else %>
          <label id="submit">
		        <li class="btn" style="display:inline">背景選択&hellip;<%= thumbnail.file_field :image, id: "submit", style: "display:none;"%></li>
          </label>
          <% end %>
      <% end %>
    <!--ここで各画像の高さ、幅、位置情報を取得 -->
    <%= hidden_field :data, :image_1 , value:  "" , id: 'data_1' %>
    <%= hidden_field :data, :image_2 , value:  "" , id: 'data_2' %>
    <%= hidden_field :data, :image_3 , value:  "" , id: 'data_3' %>
    <%= hidden_field :data, :image_4 , value:  "" , id: 'data_4' %>

    <%= hidden_field :data, :image_5 , value:  "" , id: 'data_5' %>
    <%= hidden_field :data, :X_size, value: "1280" , id: 'top' %>
    <%= hidden_field :data, :Y_size, value: "1000" , id: 'left' %>
	    <%= f.submit  "ダウンロード画面へ", id: "submit" %>
    <% end %>
  </div>

  X:<input type="number" name="X_size" value="1280" id = top/>
  Y:<input type="number" name="Y_size" value="1000" id = left/>

<div class="preview">
    <div class="material material_1"></div>
    <div class="material material_2"></div>
    <div class="material material_3"></div>
    <div class="material material_4"></div>
    <div class="material material_5"></div>
</div>
  </form>

</div>
