<!DOCTYPE html>
<html　lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Image Union</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <div class="header-logo">
        <%= link_to image_tag("title.png" , :class => "title_size"), "/"  %>
        </div>

    </div>
    <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
