<!DOCTYPE html>
<html　lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Image Union</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">

      <!--<img src="title.png" id="title_size">-->
      <%= link_to image_tag("title.png" , :class => "title_size"), "/"  %>

      <ul class="header-menus">
          <ul>
            <li><a href="#">Image Unionとは</a></li>
          </ul>



    </div>
  </header>

    <%= yield %>
  </body>
</html>
